<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AlexCorrigan.co.uk :: Ditching Traditional XML Parsing</title>
	
	
	<link rel="stylesheet" href="/css/style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	
</head>
<body>
	<div class="section">
		<header>
    <h1 class="site-title"><a href="/" rel="me">Alex Corrigan</a></h1>
	
	<nav>
		<ul class="main-menu">
			
			<li><a href="/">Home</a></li>
			
			<li><a href="/now">Now</a></li>
			
			<li><a href="/posts">Blog</a></li>
			
			<li><a href="/cv">CV</a></li>
			
			<li><a href="/technotes">Tech Notes</a></li>
			
		</ul>
	</nav>
	
    <hr />
</header>

	</div>
	<div class="section">
		
	<main>
		<article>
			<div class="post-publish-date">
				    <span class="publish-date"><time class="post-timestamp">Tue, 28 Mar 2017 22:00:00 BST</time></span>
	

			</div>
			<div class="post-tags">
				<span>
					
							
							<span class="category"><a href="/categories/coding">&lt;Coding></a></span>
							
					

					
						<span class="tags">
							
							<span class="tag"><a href="/tags/xml">&lt;Xml></a></span>
							
							<span class="tag"><a href="/tags/java">&lt;Java></a></span>
							
						</span>
					
				</span>
			</div>
			<div class="post-title">
				<h2><a href="/posts/2017/03/28/ditching-traditional-xml-parsing/">Ditching Traditional XML Parsing</a></h2>
			</div>
			<div class="post-description">
				<p><em>A simple alternative for manipulating XML</em></p>
			</div>
			<div class="post-content">
				<p>I have been working on some test automation that involves publishing various XML messages over JMS and checking how and what the system under test did with them. There is about 25 of them at last count, and each is distinct. Distinct in that they come from different source systems. They each share the same base schema and some common elements, but at the same time each has something unique about it.</p>
<p>There is not a lot I care about in these messages other than a hand-full of, perhaps no more than 10 or so, specific field values which I want to manipulate before publishing in order to run different scenarios. For example, prices, instruments, currencies and trading counter parties. It is not an uncommon task when testing APIs or other message based interfaces.</p>
<p>There are some established Java libraries out there for this kind of thing:</p>
<ul>
<li>
<p>You can use something like <a href="https://docs.oracle.com/javase/tutorial/jaxb/intro/">JAXB</a> to unmarshal an XML string to an object first before changing the necessary fields, marshalling it as new string and then publishing it. The objects need to be defined first by way of generating them from the XML schema.</p>
</li>
<li>
<p>Or you can go the XPATH route and parse the XML string to a document object and edit the fields that way.</p>
</li>
</ul>
<p>I only wanted to touch a few of fields in each message so originally went with the XPATH approach. It worked for a while but I eventually got frustrated with the number of paths I was having to manage. Despite each of my template messages being based of the same schema, the fields were not located in the same path in one message to the next.</p>
<p>Eventually, probably in an actual fit of rage (I don&rsquo;t recall now), I ripped up the rule book and chose to just treat each of the messages as a string. Pure and simple. In each message I placed tokens that represented the particular data types to be substituted when parsing it. So for those prices I used a token like <code>{{price}}</code> and with the power of regular expressions just replaced it for a real price from the scenario being tested.</p>
<p>Since implementing this I haven&rsquo;t regretted it once. Sometimes I feel I have broken an unspoken rule by not using one of the other approaches, but at the end of the day my solution works. It is simple, reliable and allows me to move on with less pain.</p>
<p>The inspiration for this, at the time, was from HTML templating engines like <a href="http://jinja.pocoo.org/">Jinja</a> and <a href="http://handlebarsjs.com/">Handlebars.js</a>. What my code is doing though is probably most like <a href="https://mustache.github.io/">Mustache</a>, a more recent discovery. I have yet to investigate if I could actually use the Java library of this instead.</p>
<p>It is possible that there may be some sacrifices though regards to the performance of parsing and manipulating those strings. I haven&rsquo;t measured it. To be honest, performance was not a major concern for me, it is fast enough for my needs.</p>

			</div>
		</article>
	</main>

	</div>
	<div class="section">
		<footer>
	<hr />
    <div>
        <ul class="contact-links">
            <li><a href="mailto:alex.corrigan@posteo.net" rel="me"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://twitter.com/thealexcorrigan" rel="me"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alexcorrigan/" rel="me"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://bitbucket.org/alexcorrigan/" rel="me"><i class="fab fa-bitbucket"></i></a></li>
            <li><a href="https://github.com/alexmcorrigan" rel="me"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.buymeacoffee.com/alexcorrigan" rel="me"><i class="fa fa-coffee"></i></a></li>
        </ul>
    </div>
	<p class="copyright">&copy; 2020 <a href="/" rel="me">Alex Corrigan</a></p>
</footer>

	</div>
    <script src="https://kit.fontawesome.com/5ba71abba4.js" crossorigin="anonymous"></script>
</body>
</html>
