@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400;1,500&family=Vollkorn:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap');

body {
	font-family: "Lora", "Georgia", "Times New Roman", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;

	color: #484848;
	background-color: #ffffff;

	height: 100%;
	margin: 0;
	overflow-x: hidden;
	padding-bottom: 40px;
	padding-top: 40px;
	position: relative;
}

.section {
	clear: both;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
	max-width: 800px;
}

.site-title, .site-title a, .site-title a:hover {
	font-family: "Vollkorn", "Georgia", "Times New Roman", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	text-decoration: none;
	color: #000000;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4 {
	color: #000000;
}

h1, h1 a {
	font-size: 60px;
	color: #000000;
	padding: 0;
	margin: 0;
}

h2, h2 a {
	font-size: 30px;
	color: #000000;
	padding: 0;
	margin: 0;
}

h3, h3 a {
	font-size: 20px;
	color: #000000;
	padding: 0;
	margin: 0;
}

p {
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

code, pre {
	color: #000000;
	font-family: "Fira Mono", monospace;
	font-size: 12px;
	line-height: 1.6;
}

p code, li code {
	color: #000000;
	font-weight: normal;
	padding: 3px 5px 2px 5px;
}

img {
	width: 100%;
}

img.me-img {
	float: left;
	padding:0;
	margin-right: 8px;
	margin-bottom: 8px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

table, th, td {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	padding: 5px;
	margin: 0;
	font-family: "Fira Mono", monospace;
	font-size: 12px;
	line-height: 1.6;
}

table, thead {
	border-style: solid;
	border-width: 2px;
}

blockquote {
	border-left: 1px solid #484848;
	padding-left: 10px;
	margin-left: 10px;
}

.main-menu, .main-menu a, .contact-links, .contact-links a {
	color: #000000;
	list-style: none;
	padding: 0;
}

.main-menu li, .contact-links li {
	display: inline;
	margin-right: 8px;
}

.post-publish-date {
	float: left;
	width: 50%;
	min-width: 250px;
}

.post-tags {
	float: right;
	width: 50%;
	text-align: right;
}

.post-title {
	clear: both;
	color: #000000;

}

.post-description {
	float: right;
	text-align: right;
	color: #000000;
	padding-bottom: 10px;
	width: 50%;
}

.post-content {
	clear: both;
}

.publish-date, .category, .tag {
	font-family: "Fira Mono", monospace;
	font-size: 12px;
	line-height: 1.6;
}

.copyright {
	font-size: 14px;
}

.profile p {
	font-size: 16px;
}

.homepage-feed {
	clear: both;
}

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #484848;
}

::selection {
  color: #ffffff;
  background: #484848;
}

