{{ define "main" }}
	<main>
		<article>
			<div class="post-publish-date">
				{{ .Render "publicationDetails" }}
			</div>
			<div class="post-tags">
					{{ with .Params.tags }}
						<span class="tags">
							{{ range . }}
							<span class="tag"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><{{ . }}></a></span>
							{{ end }}
						</span>
					{{ end }}
			</div>
			<div class="post-title">
				<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			</div>
			<div class="post-description">
				<p><em>{{ .Description }}</em></p>
			</div>
			<div class="post-content">
				{{ .Content }}
			</div>
		</article>
	</main>
{{ end }}
