    <span class="publish-date"><time class="post-timestamp">{{ dateFormat "Mon, 02 Jan 2006 15:04:05 MST" .Date.Local }}</time></span>
	<!--
	{{- if .GitInfo -}}
	<span> Last Updated: <a href="https://bitbucket.org/alexcorrigan/alexcorrigan.co.uk/commits/{{ .GitInfo.Hash }}"><time class="post-timestamp" datetime="{{ .GitInfo.AuthorDate }}">{{ dateFormat "Mon, 02 Jan 2006 15:04:05 MST" .GitInfo.AuthorDate }}</time></a></span>
	{{- end}}
	-->
