{{ define "main" }}
	<main>
		<article>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p><em>{{ .Description }}</em></p>

			<div class="post-details">
				<ul>
					<li>{{ .Render "publicationDetails" }}</li>
					<li>
						{{ with .Params.categories }}
							<span class="categories">
								Cateogory: 
								{{ range . }}
								<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}"><{{ title . }}></a>
								{{ end }}
							</span>
						{{ end }}
					</li>
					<li>
						{{ with .Params.tags }}
							<span class="tags">
								Tagged: 
								{{ range . }}
								<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><{{ title . }}></a>
								{{ end }}
							</span>
						{{ end }}
					</li>
				</ul>
			</div>
			<div>
				{{ .Content }}
			</div>
		</article>
	</main>
{{ end }}
