{{ define "main" }}
	<main>
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h2>{{ . }}</h2>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}
		<ul>
		{{ range .Pages.ByTitle }}
			<li>{{ .Render "summary" }}</li>
		{{ end }}
		</ul>
	</main>
{{ end }}
