{{ define "main" }}
	<main>
		<article>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p><em>{{ .Description }}</em></p>

			<div>
				{{ .Content }}
			</div>
		</article>
	</main>
{{ end }}
