<footer>
	<hr />
    <div>
        <ul class="contact-links">
            <li><a href="mailto:alex.corrigan@posteo.net" rel="me"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://twitter.com/thealexcorrigan" rel="me"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alexcorrigan/" rel="me"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://gitlab.com/alexcorrigan" rel="me"><i class="fab fa-gitlab"></i></a></li>
            <li><a href="https://bitbucket.org/alexcorrigan/" rel="me"><i class="fab fa-bitbucket"></i></a></li>
            <li><a href="https://github.com/alexmcorrigan" rel="me"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.buymeacoffee.com/alexcorrigan" rel="me"><i class="fa fa-coffee"></i></a></li>
        </ul>
    </div>
	<p class="copyright">&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}" rel="me">{{ .Site.Title }}</a></p>
</footer>
