<header>
    <h1 class="site-title"><a href="{{ .Site.BaseURL }}" rel="me">{{ .Site.Title }}.</a></h1>
	{{ with .Site.Menus.main }}
	<nav>
		<ul class="main-menu">
			{{ range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}
    <hr />
</header>
