{{ define "main" }}
	<main>
		<div class="profile">
			{{ .Content }}
		</div>
		<div class="homepage-feed">
			{{ $pages := where .Site.RegularPages ".Params.categories" "intersect" (slice "professional") }}

			{{ range first 5 $pages }}
				{{ .Render "summary" }}
			{{ end }}
		</div>
	</main>
{{ end }}
